<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyz.hero.capture_library" >
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
       >
        <activity android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimActivity"
            >
        </activity>
    </application>
</manifest>
